<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
</head>

<body>
    <div class="container">
        <div class="todo-app">
            <h1> Todo List <img src="{{ url_for('static', filename='images/icon1.png') }}" alt="Icon"></h1>
                <div>
                    <form class="form1" action="/add" method="post">
                        
                        <input class="" type="text" name="title" placeholder="enter todo">
                        <button class="" type="submit">add</button>
                        
                    </form>
                </div>

            {% for todo in todo_list %}
               
                    <ul>
                        <li>
                            {{todo.id}} | {{todo.title}} <span> <a class="ui #555 button"  href="/delete/{{todo.id}}">Delete</a> </span>
                        </li>
                    </ul>

                   
                
            {% endfor %}
            <a class="fluid ui button" href="/deleteall">Delete all</a>
       </div>
    </div>
</body>

</html>
